@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);


.home_image {
    width: 100vw;
    height: 84vh;
}

.header {
    height: 12vh;
}

#header_text {
    font-size: 4vh;
}

.header_left {
    position: absolute;
    left: 15vw;
}

.header_right {
    position: absolute;
    right: 15vw;
}

.header img{
    top: 1vh;
    position: relative;
    height: 10vh;
    object-fit: cover;
    border-radius: 50%;
    
}

h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    font-style: italic;
    color: black;
}

.table_of_contents {
    font-size: 20px;
    height: 4vh;

  }

table th, table td, button{
    font-size: 20px;
    display: table-cell;

  }

p {
    text-align: center;
    font-size: 3vh;
}

p1, p2 {
  text-align: left;
  font-size: 2vh;
}

img {
    height: 20vh;
    vertical-align: middle;
}

.box {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50vw;

 }

















