@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

h1 {
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    font-style: italic;
}

.table_of_contents {
    font-size: 20px;
    vertical-align: middle;
  }
  table th, table td, button{
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
  }

p {
    text-align: center;
    font-size: 3vh;
}

p1, p2 {
    text-align: center;
    font-size: 3vh;
}

p1, p2 {
  text-align: left;
  font-size: 2vh;
}

img {
    height: 20vh;
    vertical-align: middle;
}

.box {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50vw;

 }

 #mapid { 
    height: 500px; 
}

/* previous builds page    */
.previous_builds, .testname {
    background-color: white;
    color: rgb(59, 122, 59);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
  }
  
  .active, .info:hover {
    background-color: rgb(145, 145, 145);
  }
  
  .collapse {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .preview_image {
    /* */
    text-align: center;

  }

  .preview_description {
    clear: left;
    text-align: left;

  }

  .preview_image img{
    display: block;
    margin: 0 auto;
    
  }

  p3 {
    align-items: center;
    font-size: 30px;
  }

  p4 {
    clear: left;
    font-size: 30px;
  }

  .cpu_list {
    list-style-type: disc;
    line-height: 0.7;
  }

