html, body, div, h1, h2, h3, h4, h5, h6, p, img, table, tr, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-image: url("../images/blue_background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.about_background {
  background-image: url("../images/test_background3.jpg");
  top: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  background: #fff6e9;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-bottom: 2px solid #bdb6ad;
}

tr {
  display: table-row;
}

th, button {
  display: table-cell;
  padding: 2px 10px;
  border: solid #ece4d8;
  border-width: 0 2px 2px 0;
  color: #cd596b;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: bold;
  font-size: .85em;
}


a {
  text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    font-style: italic;
}

  table th, table td, button{
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
  }

p {
    text-align: center;
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p1, p2 {
    text-align: center;
    font-size: 3vh;
}

p1, p2 {
  text-align: left;
  font-size: 2vh;
}

img {
    height: 20vh;
    vertical-align: middle;
    box-shadow: 0px 4px 0px #bdb6ad;
    border: 4px solid #fff6e9;
}

.box {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50vw;

 }

 #mapid { 
    height: 500px; 
}


/* products page */

.product_image {
  height: 90%;
  border-radius: 50px 50px 50px 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#product_name{
  font-size: 50px;
}

#product_description{
  font-size: 30px;
}

.current_builds_table {
  border-radius: 50px 50px 50px 50px;
  display: relative;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.current_builds_table th {
  border: none;
}

.about_page_table, .products_page_table, .previousbuilds_page_table, .contact_page_table {
  font-variant: small-caps;
  border-radius: 50px 50px 50px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  table-layout: fixed;
}











/* previous builds page    */
.previous_builds {
    background-color: white;
    color: rgb(59, 122, 59);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
  }
  
  .active, .info:hover {
    background-color: rgb(145, 145, 145);
  }
  
  .collapse {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .preview_image {
    /* */
    text-align: center;

  }

  .preview_description {
    clear: left;
    text-align: left;

  }

  .preview_image img{
    height: 50vh;
    display: block;
    margin: 0 auto;
    
  }

  p3 {
    align-items: center;
    font-size: 30px;
  }

  p4 {
    clear: left;
    font-size: 30px;
  }

  .cpu_list {
    list-style-type: disc;
    line-height: 0.7;
  }

  @import url(https://fonts.googleapis.com/css?family=Raleway);
      
      