@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

h1 {
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    font-style: italic;
}

.table_of_contents {
    font-size: 20px;
    vertical-align: middle;
  }
  table th, table td{
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
  }

p {
    text-align: center;
    font-size: 3vh;
}

p1, p2 {
    text-align: center;
    font-size: 3vh;
}

img {
    height: 20vh;
    vertical-align: middle;
}

.box {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50vw;

 }

 #mapid { 
    height: 500px; 
}