.box {
  display: flex;
  align-items: center;
  margin: auto;
  width: 95vw;
}

.table_of_contents {
  font-size: 40px;
  vertical-align: middle;
}
table th, table td{
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
}

#mapid { 
  height: 40vh;
  width: 100vw; 
  display: flex;
  font-size: 2vh;
}

h1 {
  font-size: 4vh;
}

p {
  text-align: center;
  font-size: 3vh;
}

p1 {
  text-align: center;
  font-size: 36px;
}

#second_image_text {
  text-align: center;
  font-size: 12px;
}







