.box {
  display: flex;
  align-items: center;
  margin: auto;
  width: 95vw;
}

.table_of_contents {
  font-size: 40px;
  vertical-align: middle;
}
table th, table td{
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
}

#mapid { 
  height: 40vh;
  width: 40vw; 
  display: flex;
}

h1 {
  font-size: 4vh;
}

p {
  font-size: 3vh;
}







